<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
     backupGlobals="false"
     colors="true"
     verbose="true"
     beStrictAboutOutputDuringTests="true"
     beStrictAboutTestsThatDoNotTestAnything="true"
     beStrictAboutTodoAnnotatedTests="true"
     beStrictAboutChangesToGlobalState="true"
>
    <testsuites>
        <testsuite name="type">
            <file>tests/TypeTest.php</file>
        </testsuite>
        <testsuite name="protocol">
            <directory suffix=".php">tests/Protocol</directory>
        </testsuite>
        <testsuite name="clientBefore">
            <directory suffix=".php">tests/Client/Protocol/Before</directory>
        </testsuite>
        <testsuite name="clientAfter">
            <directory suffix=".php">tests/Client/Protocol/After</directory>
        </testsuite>
        <testsuite name="tests">
            <file>tests/ProducerTest.php</file>
            <file>tests/ConsumerTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
      <log type="coverage-text" target="coverage.txt" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
